$primary: #73d8fa;
$secondary: #4637fa;
$info: #d53de0;
$danger: #f75036;
$warning: #eda134;
$dark-white: #e9f3f8;
$silver: #c0c0c0;
$copper: #b87333;

.dark-white {
  background-color: $dark-white;
}

.text-dark-white {
  color: $dark-white;
}

.bg-copper {
  background-color: $copper;
}

.bg-silver {
  background-color: $silver;
}

html {
  @extend .dark-white;
}

.no-underline {
  text-decoration: none;
}

@import "~bootstrap/scss/bootstrap";
